@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\000034}}
body {
  background-color: #2f3845;
  font: 200 13px/1.4 "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  padding: 20px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\000039}}
button, input, textarea {
  font: 200 13px/1.4 "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000311}}
.title {
  margin: 20px 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000313}}
.subtitle {
  margin: 5px 0 5px;
  text-align: center;
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000317}}
.wrap {
  box-sizing: border-box;
  text-align: center;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000321}}
  .wrap .wrap__swipe {
    position: absolute;
    top: 100px;
    bottom: 60px;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000331}}
  .wrap .wrap__btns {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000338}}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  padding: 10px 20px;
  background: transparent;
  border-radius: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000344}}
  .btn:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000348}}
.swipe-cards {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000355}}
  .swipe-cards .swipe-cards__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000361}}
  .swipe-cards .swipe-cards__item {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: -1;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transition: transform 0.6s ease-in;
    -webkit-transition: -webkit-transform 0.6s ease-in;
    transform: scale3d(0.49045, 0.49045, 1) translate3d(0, -80px, 0);
    -webkit-transform: scale3d(0.49045, 0.49045, 1) translate3d(0, -80px, 0);
    opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000390}}
    .swipe-cards .swipe-cards__item.is-active {
      transition: none;
      -webkit-transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000393}}
    .swipe-cards .swipe-cards__item.is-deleted {
      transition-duration: 0.3s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(9) {
      opacity: 1;
      transform: scale3d(0.49045, 0.49045, 1) translate3d(0, -80px, 0);
      -webkit-transform: scale3d(0.49045, 0.49045, 1) translate3d(0, -80px, 0);
      z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(8) {
      opacity: 1;
      transform: scale3d(0.55414, 0.55414, 1) translate3d(0, -70px, 0);
      -webkit-transform: scale3d(0.55414, 0.55414, 1) translate3d(0, -70px, 0);
      z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(7) {
      opacity: 1;
      transform: scale3d(0.61783, 0.61783, 1) translate3d(0, -60px, 0);
      -webkit-transform: scale3d(0.61783, 0.61783, 1) translate3d(0, -60px, 0);
      z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(6) {
      opacity: 1;
      transform: scale3d(0.68153, 0.68153, 1) translate3d(0, -50px, 0);
      -webkit-transform: scale3d(0.68153, 0.68153, 1) translate3d(0, -50px, 0);
      z-index: 4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(5) {
      opacity: 1;
      transform: scale3d(0.74522, 0.74522, 1) translate3d(0, -40px, 0);
      -webkit-transform: scale3d(0.74522, 0.74522, 1) translate3d(0, -40px, 0);
      z-index: 5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(4) {
      opacity: 1;
      transform: scale3d(0.80892, 0.80892, 1) translate3d(0, -30px, 0);
      -webkit-transform: scale3d(0.80892, 0.80892, 1) translate3d(0, -30px, 0);
      z-index: 6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(3) {
      opacity: 1;
      transform: scale3d(0.87261, 0.87261, 1) translate3d(0, -20px, 0);
      -webkit-transform: scale3d(0.87261, 0.87261, 1) translate3d(0, -20px, 0);
      z-index: 7; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(2) {
      opacity: 1;
      transform: scale3d(0.93631, 0.93631, 1) translate3d(0, -10px, 0);
      -webkit-transform: scale3d(0.93631, 0.93631, 1) translate3d(0, -10px, 0);
      z-index: 8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(1) {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate3d(0, 0px, 0);
      -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0px, 0);
      z-index: 9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexeybondarenko\/Sites\/swipe-cards\/src\/css\/_swipe-cards\.sass}line{font-family:\0000396}}
    .swipe-cards .swipe-cards__item:nth-child(0) {
      opacity: 1;
      transform: scale3d(1.06369, 1.06369, 1) translate3d(0, 10px, 0);
      -webkit-transform: scale3d(1.06369, 1.06369, 1) translate3d(0, 10px, 0);
      z-index: 10; }
