.ticket
  width: 100%
  height: 100%
  overflow: hidden
  .ticket__header
    height: 100%
  .ticket__photo
    min-height: 100%
    min-width: 100%
    overflow: hidden
    img
      position: absolute
      top: 0
      left: 0
      min-width: 100%
      min-height: 100%
  .ticket__title
    text-align: left
    padding: 20px 20px 10px
    box-sizing: border-box
  .ticket__photo + .ticket__title
    color: white
    font-size: 20px
    line-height: 30px
    font-weight: 500
    letter-spacing: .85px
    //background-color: red
    position: relative
    top: -60px
    background-image: linear-gradient(rgba(black, .0), rgba(black, .4))

